.label{
  text-align: center;

}

h1{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid blue;
  border-radius: 10px;
  transition: color 0.5s ease-out;
  text-shadow: -2px -1px 5px rgba(150, 150, 150, 1);
}

h1:hover {
  color: black;
}

.form{
  font-size: 1.7rem;
  color: blue;
  font-weight: bold;
}

.result {
  font-size: 1.7rem;
  color: #2426AB;
  text-align: center;

}

input{
  margin-bottom: 20px;
}

li{

  list-style: none;
  text-align: center;
}

ul{
  margin-top: 10px;
}

