body{
  background-image: url('assets/92abc403.png');
  background-position: center;
  background-attachment: fixed;
}

.formAll{
  display: grid;
  justify-content: center;
  padding: 50px;
  margin: 0 auto;

}

